:root {
  /* CSS HEX */
  --persian-orange: #ea8c55ff;
  --jasper: #c75146ff;
  --fire-brick: #ad2e24ff;
  --falu-red: #81171bff;
  --rosewood: #540804ff;
  --border: 5px solid saddlebrown;
  --border-radius: 5px;
  /*
  in a hex code with 8 digits, the last two digits represent the alpha channel. this channel indicates the transparency of the color. the value of this channel can be between 00 (completely transparent) and ff (completely opaque). in this case, all of the colors are completely opaque.

  source: https://www.quackit.com/css/color/values/css_hex_color_notation_8_digits.cfm
  */

  /* this color palette was created with the help of Coolors: https://coolors.co/ */
}

body {
  color: var(--persian-orange);
  background-color: var(--jasper);
}

.notResume {
  display: flex;
  list-style-type: none;
  /* removes the bullet points from the unordered list, source: https://getcssscan.com/blog/how-to-remove-bullets-from-li-css */
}

.App {
  align-items: left;
}

.spinner {
  display: inline-block;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: Profile-pic-spin infinite 20s linear;
  }
  /* spin the profile picture 18 degrees per second without changing speed or stopping */
}

@keyframes Profile-pic-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerComponentsContainer {
  display: flex;
}

.App-header {
  flex-grow: 1;
  display: inline-block;
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.names {
  margin: 0;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

#about-me-title {
  margin-top: 40px;
}

#about-me-profile-pic {
  max-width: 400px;
  border: var(--border);
  border-radius: var(--border-radius);
}

#about-me-paragraph {
  background-color: var(--fire-brick);
  padding: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.bigContainer {
  min-height: 500px;
}

.sectionContainer {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  color: var(--persian-orange);
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  color: var(--falu-red);
}

.active {
  color: var(--falu-red);
}

.downloadBtn {
  background-color: lawngreen;
}

.contentContainer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.formContainer {
  width: 100%;
  height: 100vh;
  background-color: #001660;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h1 {
  color: #555555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

form button {
  padding: 15px;
  background-color: #ff5361;
  color: #ffffff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.hiddenUntilNeeded {
  visibility: hidden;
}

.thumbnail {
  max-width: 300px;
}

.warning {
  color: var(--rosewood);
}
