:root {
  /* CSS HEX */
  --persian-orange: #ea8c55ff;
  --jasper: #c75146ff;
  --fire-brick: #ad2e24ff;
  --falu-red: #81171bff;
  --rosewood: #540804ff;
  /*
  in a hex code with 8 digits, the last two digits represent the alpha channel. this channel indicates the transparency of the color. the value of this channel can be between 00 (completely transparent) and ff (completely opaque). in this case, all of the colors are completely opaque.

  source: https://www.quackit.com/css/color/values/css_hex_color_notation_8_digits.cfm
  */

  /* this color palette was created with the help of Coolors: https://coolors.co/ */
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bigContainer {
  background-color: #282c34;
  min-height: 500px;
}

.nav-link {
  color: white;
}

.active {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.downloadBtn {
  background-color: lawngreen;
}

.contentContainer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.hiddenUntilNeeded {
  visibility: hidden;
}

.thumbnail {
  max-width: 300px;
}

.warning {
  color: red;
}
