:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /* CSS HEX */
  --persian-orange: #ea8c55ff;
  --jasper: #c75146ff;
  --fire-brick: #ad2e24ff;
  --falu-red: #81171bff;
  --rosewood: #540804ff;

  /*
  in a hex code with 8 digits, the last two digits represent the alpha channel. this channel indicates the transparency of the color. the value of this channel can be between 00 (completely transparent) and ff (completely opaque). in this case, all of the colors are completely opaque.

  source: https://www.quackit.com/css/color/values/css_hex_color_notation_8_digits.cfm
  */

  /* this color palette was created with the help of Coolors: https://coolors.co/ */

  --border: 5px solid saddlebrown;
  --border-radius: 5px;
  --border-smaller: 3px solid saddlebrown;
  --border-radius-smaller: 3px;
  --border-radius-bigger: 10px;
  --form-border: 3px darkslategrey solid;
  --form-label-color: darkslategrey;
}

body {
  color: var(--persian-orange);
  background-color: var(--jasper);
}

.notResume { /* I want the resume to have bullet points but I do not want them anywhere else */
  display: flex;
  list-style-type: none;
  /* removes the bullet points from the unordered list, source: https://getcssscan.com/blog/how-to-remove-bullets-from-li-css */
}

.App {
  align-items: left;
}

.spinner {
  display: inline-block;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: Profile-pic-spin infinite 20s linear;
  }
  /* spin the profile picture 18 degrees per second without changing speed or stopping */
}

@keyframes Profile-pic-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerComponentsContainer {
  display: flex;
}

.App-header {
  flex-grow: 1;
  display: inline-block;
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.names {
  margin: 0;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

#about-me-title {
  margin-top: 40px;
}

#about-me-profile-pic {
  max-width: 400px;
  border: var(--border);
  border-radius: var(--border-radius);
}

#about-me-paragraph {
  background-color: var(--fire-brick);
  padding: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.bigContainer {
  min-height: 500px;
}

.sectionContainer {
  margin-left: 20px;
  margin-right: 20px;
}

#portfolio-title {
  text-align: center;
}

.portfolioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link {
  color: var(--persian-orange);
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

.nav-link:hover {
  color: var(--falu-red);
}

.active {
  color: var(--falu-red);
}

.downloadBtn {
  background-color: var(--fire-brick);
  color: var(--persian-orange);
  font-weight: bold;
  font-family: var(--font-family);
  border: var(--border-smaller);
  border-radius: var(--border-radius-smaller);
}

.downloadBtn:hover {
  background-color: var(--falu-red);
}

.contentContainer {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

.projectElem {
  display: block;
  font-weight: bold;
}

.projectTitle {
  margin: 0 10px 5px 10px;
}

.projectContainer {
  background-color: var(--fire-brick);
  border: var(--border);
  border-radius: var(--border-radius-bigger);
  margin: 10px;
  padding: 5px;
}

.hiddenUntilNeeded {
  visibility: hidden;
  font-weight: 700;
  margin: 0;
}

.revealed {
  visibility: visible;
  font-weight: 700;
  margin: 0;
}

.thumbnail {
  max-width: 300px;
}

.warningMessage {
  color: var(--rosewood);
  font-weight: 700;
  margin: 0;
}

/* the css of the form was inspired by the following video: https://www.youtube.com/watch?v=sGQSz22U8VM */

.formContainer {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: orangered;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h1 {
  color: var(--form-label-color);
  font-weight: 800;
  margin-bottom: 20px;
}

label {
  color: var(--form-label-color);
  font-weight: 700;
}

form input, form textarea {
  border: var(--form-border);
  border-radius: var(--border-radius);
  margin: 10px 0;
  padding: 20px;
  background: #f5f5f5;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#submitBtn {
  padding: 15px;
  background-color: var(--fire-brick);
  color: #f5f5f5;
  font-size: 20px;
  border: 0;
  outline: none; /* no outline is drawn outside of the border, source: https://www.w3schools.com/cssref/pr_outline.php */
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0; /* top, right and left, bottom */
  border-radius: 30px;
}

#submitBtn:hover {
  background-color: var(--falu-red);
}
